.mainBody {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
}

.container {
  width: 100%;
  max-width: 2200px;
  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20400%20400%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cfilter%20id%3D%27noiseFilter%27%3E%3CfeTurbulence%20type%3D%27fractalNoise%27%20baseFrequency%3D%277.66%27%20numOctaves%3D%275%27%20stitchTiles%3D%27stitch%27/%3E%3C/filter%3E%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url(%23noiseFilter)%27/%3E%3C/svg%3E"),
    linear-gradient(
      -30deg,
      rgba(210, 210, 210, 1) 0%,
      rgba(244, 244, 244, 1) 100%
    );

  background-blend-mode: overlay;
  background-size: cover;
  margin: 20px;
  padding: 10px;
  display: flex;
  border-radius: var(--radius);

  @media (min-width: 600px) {
    flex-direction: row;
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.363);
}

.photo {
  border-radius: 7px;
  @media (min-width: 600px) {
    width: 45%;
    object-fit: cover;
  }
  @media (max-width: 600px) {
    width: inherit;
  }
}

.descr {
  background-color: var(--lightergrey);
  border-radius: 7px;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    width: 55%;
    padding: 10px 20px;
    margin-left: 10px;
  }
  @media (max-width: 600px) {
    margin-top: 10px;
    padding: 10px;
  }
}

.title {
  font-weight: 600;
  padding-bottom: 10px;
  width: fit-content;

  background: linear-gradient(90deg, rgb(0, 140, 255), rgb(255, 0, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: 500px) {
    font-size: var(--L);
  }
  @media (max-width: 500px) {
    font-size: var(--LG);
  }
}

.text {
  display: flex;
  height: 100%;
  flex-direction: column;

  justify-content: center;

  @media (min-width: 500px) {
    padding: 10px 0px;
    font-size: var(--SX);
  }
  @media (max-width: 500px) {
    font-size: var(--S);
  }
}
