.slider {
  display: flex;
  overflow-x: scroll; /* Ensure it's scrolling horizontally */
  scroll-snap-type: x mandatory; /* Mandatory snapping along the horizontal axis */
  scroll-behavior: smooth;
  cursor: grab;
}

.projectCont {
  user-select: none;
  scroll-snap-align: start;

  flex-shrink: 0;
  display: flex !important;
  width: 90%;
  margin: 20px;
  max-width: 1400px;

  background: url("data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%20400%20400%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cfilter%20id%3D%27noiseFilter%27%3E%3CfeTurbulence%20type%3D%27fractalNoise%27%20baseFrequency%3D%277.66%27%20numOctaves%3D%275%27%20stitchTiles%3D%27stitch%27/%3E%3C/filter%3E%3Crect%20width%3D%27100%25%27%20height%3D%27100%25%27%20filter%3D%27url(%23noiseFilter)%27/%3E%3C/svg%3E"),
    linear-gradient(
      -30deg,
      rgba(210, 210, 210, 1) 0%,
      rgba(244, 244, 244, 1) 100%
    );

  background-blend-mode: overlay;
  background-size: cover;

  padding: 20px 20px;
  box-shadow: 0 0 17px 0px rgba(0, 0, 0, 0.07);
  border-radius: var(--radius);
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
}

.imgCont {
  width: 55%;
  flex-shrink: 0;
}

.img {
  border-radius: 7px;
  box-shadow: var(--shortglow);
}

@media (max-width: 700px) {
  .mobile {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .imgCont {
    width: 100%;
  }
}
/* Project Details */
.title {
  font-size: var(--M);
  font-weight: bold;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  font-size: var(--SX);
  background: linear-gradient(
    90deg,
    rgba(0, 209, 255, 1) 0%,
    rgba(255, 0, 184, 1) 54%,
    rgba(172, 0, 255, 1) 97%
  );
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important; /* <- here it is */

  padding: 5px 7px;
  border-radius: calc(var(--radius) - 4px);
  margin-right: 6px;
  margin-bottom: 6px;
  color: white;
}

.urlCont {
  width: 100%;
  text-align: right;
  margin-top: 20px;
  padding-right: 20px;
}
.url {
  font-weight: 600;
  width: fit-content;
  background: linear-gradient(-45deg, rgb(0, 140, 255), rgb(255, 0, 191));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*

background: linear-gradient(90deg, rgb(0, 140, 255), rgb(255, 0, 191));

*/
